{
  "env": {
    "browser": true,
    "jest": true,
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-confusing-arrow": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "semi": [1, "never"],
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  }
}
